

body{
    font-size: 1.5em;
}

p, address{
    font-size: 1.5em;
}


.banner{
    background-image: url(../img/grassTex/wet_grass_black_Gauss.png);
    background-size: cover;
    width: 102%;
}

.banner img{
    padding-top: 70px;
    width:100%;
}
.about{
    background-image: url(../img/silver_scales/silver_scales.png);
    padding-bottom: 50px;
}

.about img{
    padding-top: 1%;
}

.about h1{
    text-align: center;
}

.about p{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.5em;
}
#sponser{
    background-color: #6C7A89;
    border: solid 3px #22313F;
    padding-bottom: 50px;
}
#r2p{
    width:300px;
    margin-right:100px;
}
.second{
    background-color: #1E824C;
    border: solid 3px #22313F;
}

.practice{
    background-image: url(../img/low_contrast_linen/low_contrast_linen_@2X.png);
    color: #F2F1EF;
    padding-bottom: 10px;
}

.practice p{
    padding:5px 15px;
}

.practice address{
    padding-top: 15px;
    text-align: center;
}

#pracMap{
		text-align:center;
	}
/*Need to add media queries for this*/
.practice #map{
	text-align:center;
    width: 500px;
    height: 400px;
}

.events table{
    margin-top: 50px;
    background-color: #DADFE1;
    overflow-y: scroll;
}

.events table thead{
    font-size: 1.2em;
}

.third{
    background-color: #6C7A89;
    background-image: url(../img/textured_stripes/textured_stripes.png);
}

.schedule table{
    background-color: #DADFE1;
    overflow-y: scroll;
}

.schedule thead{
    font-size: 1.2em;
}

.calendar{
    margin-top: 4.7%;
    overflow: scroll;
}

.fourth{
    height: 300px;
    border-top: solid 3px #22313F;
}

.mediaImage{
    padding-top: 90px;
    padding-left: 125px;
    height:100%;
    background-image: url(../img/cubesOrig.png);
}

.roster{
    padding-top: 90px;
    padding-left: 125px;
    height:100%;
    background-image: url(../img/low_contrast_linen/low_contrast_linen_@2X.png);
    color: #DADFE1;
}

.fifth{
    height: 455px;
    background-color: #68C3A3;
    border-top: solid 3px #22313F;
/*    border-bottom: solid 3px #BDC3C7;*/
}

.contact{
    background-color: #68C3A3;
}

.contact form{
    padding-top: 20px;
}

#pay{
    height:100%;
    padding-left: 25px;
    border-left: solid 3px #BDC3C7;
/*    background-image: url(../img/diamond_upholstery/diamond_upholstery.png)*/
}

#pay #dues,#swagg, #banquets {
    text-align: center;
    font-size: 1.5em;
}

.button{
    width:125px;
    margin-top: 10px;
}

#swagg{
    border-right: solid 3px #BDC3C7;

}

#swagg table{

}

#swagg form{
    text-align: center;
}

#banquets .button{
	width:100px;
	margin-top: 5px;
}

#banquets h2{
	font-size:1.2em
}

#banquets table{
	font-size:.7em;
}

#swagg, #donate{
    padding-top: 50px;
}
#donate form{
    text-align: center;
}

.sixth{
    border: solid 3px #BDC3C7;
    /*height:427px;*/
    background-color: #6C7A89;
    color: #EEEEEE;
}

.register{
    font-size: .8em;
    padding-bottom: 10px;
    padding-left: 25px;
	padding-top:50px;
}

.register a{
    color: navy;
}

.register a:hover{
    text-decoration: none;
    color: whitesmoke;
}

.register li{
    padding:5px;
    font-size: 1.5em;
}

.register img{
    width:100px;
}

#docs{
    border-left: solid 3px #BDC3C7;
    height:100%;
}

#docs img{
     margin-left: 38%;
    margin-top: 55px;
}

#docs p, h2{
    text-align: center;
}

#feeds{
    height: 575px;
    border-bottom: solid 5px darkgrey;
}

#feeds #fb{
    height: 100%;
    padding-left: 30px;
    background-color: #ECECEC;
    text-align: center;
    background-image: url(../img/silver_scales/silver_scales.png);
}

#tw{
    height: 100%;
    background-color: #00B16A;
    border-left: solid 3px #BDC3C7;
    text-align: center;
}



#footer, #footer2{
    /*height:100%;*/
    background-color: black;
    color:lightgrey;
}

.end .social{
    text-align: center;
    padding-top: 25px;
}

#footer2{
    padding-bottom: 25px;
}
@media screen and (min-width: 568px) and (max-width: 1000px){

    .contact form{
        margin-top: -10px;
    }

    #swagg{
        border-right: hidden;
    }

    #swagg, #donate{
        margin-top: -45px;
        margin-bottom: 50px;
    }

	#map{
		display:none;
	}

	.practice{
		height:500px;
	}

}
@media screen and (min-width: 480px) and (max-width: 568px){
    h1, h2{
        font-size: 1.9em;
    }


    p{
        font-size: 1em;
    }
    .banner{
        width:104%;
    }
   .about{
    background-image: url(../img/silver_scales/silver_scales.png);
    padding-bottom: 50px;
    }

    .about #logo{
        text-align: center;
        /*display:none;*/
        /*padding-left: 25%;*/
    }

    .about h1{
        text-align: center;
        font-size: 2em;
    }

    .about p{
        font-size: .7em;
    }
    .practice #map{
        display: none;
    }
	#pay{
		/*overflow:scroll;*/
		height: 575px;
	}
    .sixth{
        height: 100%;
    }
    #pay, #cipp, #docs{
        font-size: 1em;
        /*text-align: center;*/
    }
    #pay, #docs{
        text-align: center;
    }
    #cipp{

    }
    #docs #cipp{
        border-top:solid 3px #BDC3C7;
    }
     #pay{
        border-top:solid 3px #BDC3C7;
        margin-bottom: 50px;
    }
     #pay h1, #cipp h1, #docs h1, #pay h2, #cipp h2, #docs h2{
        font-size: 1.9em;
    }

    #donate{
        text-align: center;
    }
    .register li{
        padding:5px;
        font-size: 1em;
    }
    .calendar iframe{
        display: none;
    }
    .schedule{
        padding-left: 7px;
    }
    .schedule table{
		background-color: #DADFE1;
		overflow-y: scroll;
		overflow-x: scroll;
		border: solid 3px black;
		width:360px;
	}
    .mediaImage, .roster{
        padding-left: 0px;
        padding-right: 200px;
    }
    .mediaImage img{
        width: 100%;
    }

	#pracMap{
		text-align:center;
	}
	.register{
		border-top:solid 3px #BDC3C7;
	}
	#docs{
		border-top:solid 3px #BDC3C7;
	}
	#map{
		width:250px;
		text-align:center;
	}

    .roster img{
        width: 100%;
        /*padding-left: -50px;*/
    }
    #feeds #fb{
        width:100%;
        padding-left: 5px;
        background-color: #ECECEC;
        text-align: center;
        background-image: url(../img/silver_scales/silver_scales.png);
    }
}
@media screen and (max-width: 479px){
	h1, h2{
        font-size: 1.9em;
    }


    p{
        font-size: 1em;
    }
    .banner{
        width:104%;
    }
    .about #logo{
        text-align: center;
        display:none;
        /*padding-left: 25%;*/
    }
	#map{
		display:none;
	}
	#pay{
		overflow:scroll;
		/*height: 575px;*/
	}
	.third{
		overflow:scroll;
	}
	.calendar iframe{
        display: none;
    }
	.calendar{
		overflow:hidden;
	}
	 .mediaImage img{
        width: 100%;

    }

    .roster img{
        width: 100%;
        /*padding-left: -50px;*/
    }
}
