@import 'ashbury';
@import 'sofia';
@import 'colors';

//fonts
$headings:'sofia';
$text:'ashbury';

body {
  //min-height: 2000px;
  //padding-top: 50px;
  //padding-bottom: 20px;
    font-family: $text;
    font-size: 18px;
}

h1, h2, h3, h4, h5{
    font-family: $headings;
   // font-size: 275%;
}

//Beggining of Navigation Color Changes

.navbar{
    background-color: $dgrey75;
}

.navbar-default .navbar-brand{
    color:$white;
}
.navbar-default .navbar-text {
  color: $white;
}
.navbar-default .navbar-nav > li > a {
  color: $white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $black;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $dgrey;
  background-color: $white75;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: $grey;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: $white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $dgrey;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $grey;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $green;
  background-color: $dgrey;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $dgrey;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $black;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $dgrey;
    background-color: $white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: $grey;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: $dgrey;
}
.navbar-default .navbar-link:hover {
  color: $green;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

//End of Navigation Color Changes
//Version 2 Added on June 22 

.banner{
    margin-right:0px;
}

#history{
    border-bottom: 3px solid $dgrey;
    img#logo{
        margin-left: 44.5%;
    }
    h2{
        text-align: center;
    }
    p{
        margin: 10px 100px 30px 100px;
        
    }
}

#pe{
    .practice{
        height: 100%;
        padding: 0px 100px;
        address{
            
            text-align: center;
        }
    }
    .events{

    }
}

#games{
    padding: 2% 0% 2% 35%;
    h2{
    }
    table{
        th{
            
        }
    }
}

#mr{
    .media{
    }
    .roster{
    }
    a{
    }
}

#contact{
    h3{
    }
    form{
    }
}

#footer{
    a{
    }
}

#footer2{
    h3{
    }
}



//
//.banner{
//    background-image: url(../img/smallrugbypitch25.png);
//    //background-image: url(../img/FWRFCFabHeaderWhiteWithBackground.png);
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-position: center;
//  //  max-height: 1000px;
//    min-height: 500px;
//    margin-right: 0px;
//}
//
//.jumbotron{
//    margin: 100px 20px 50px 200px;
//    padding: 100px 50px;
//    background-color: transparent;
//    text-align: right;
//    border-radius: 10px;
//    font-family: $headings;
//    color: $white;
//    small{
//        color: $white75;
//    }
//    img{
////        transform: scale(.25);
////         -ms-transform: translateX(-300px);
////        -moz-transform: translateX(-300px);
////        -webkit-transform: translateX(-300px);
////        -o-transform: translateX(-300px);
//        transform: translateX(-400px);
//    }
//}
//
//.first{
//    background-image: url(../img/diamond_upholstery/diamond_upholstery_@2X.png);
//    background-color: $green75;
//    color:$grey;
//    min-height: 248px;
//    .about{
//        background-color: $green; 
//        vertical-align: center;
//    }
//    .roster{
//    background-color: $black5;
//    height: 100%;
//    //line-height: 243px;
//    vertical-align: middle;
//    font-size: 200%;
//    text-align: center;
//    margin-right: 0px;
//    .shape{
//        width: 0%;
//	    height: 100%;
//        margin: 0;
//	    border-bottom: 253px solid $green;
//	    border-right: 235px solid transparent;
//        position: absolute;
//        -ms-transform: translateX(-15px);
//        -moz-transform: translateX(-15px);
//        -webkit-transform: translateX(-15px);
//        -o-transform: translateX(-15px);
//        transform: translateX(-15px);
//        
//    }
//    a{
//        color: $white;
//        span{
//            color:$white;
//            width: 100px;
//        }
//        span:hover{
//            color:$white75;
//        }
//    }
//    
//    
//    a:hover{
//        color:$white75;
//        text-decoration: none;
//        //text-shadow: h-shadow v-shadow blur-radius color
//        text-shadow: 4px 4px 10px $dgrey;
//    }
//    
//}
//    
//}
//
//.second{
//    background-image: url(../img/upfeathers/upfeathers.png);
//    .events{
//        padding: 10px 50px;
//        background: $dgrey;
//        min-height: 298px;
//        table{
//            border: solid $dgrey 5px;
//            background: $grey;
//
//            th{
//                background: $black75;
//                color: $white;
//                border-left-color: $black;
//            }
//            td{
//                border-left-color: $dgrey;
//            }
//        }
//    }
//    .shape{
//        width: 0%;
//	    height: 100%;
//        float: right;
//	    border-top: 300px solid $dgrey;
//        border-left:20px solid transparent;
//        position: absolute;
//        -ms-transform: translate(650px, -10px);
//        -moz-transform: translate(650px, -10px);
//        -webkit-transform: translate(750px, -10px);
//        -o-transform: translate(650px, -10px);
//        transform: translate(650px, -10px);
//
//    }
//    .practice{
//        padding: 10px 50px;
//        background-color: $black75;
//        min-height: 307px;
//        color: $white;
//        font-size: 18px;
//        p{
//            line-height: 25px;
//        }
//        address{
//            text-align: center;
//            font-size: 18px;
//        }
//    }
//}
//
//.third{
//    background-color: $grey;
//    .schedule{
//        padding: 10px 100px;
//        table{
//            background-color: $green5;
//            border: solid $green 10px;
//            border-style: solid;
//            border-width: 20px;
//            -moz-border-image: url(../img/retina_wood/retina_wood.png) 20px stretch;
//            -webkit-border-image: url(../img/retina_wood/retina_wood.png) 20px stretch;
//            -o-border-image: url(../img/retina_wood/retina_wood.png) 20px stretch;
//            border-image: url(../img/retina_wood/retina_wood.png) 20px stretch;
//           // max-width: 75%;
//        }
//    }
//}
//
//.fourth{
//    min-height: 200px;
//    background-color: $dgrey75;
//    color:$black;
//    font-size: 20px;
//    .media{
//        line-height: 400px;
//        vertical-align: middle;
//        text-align: center;
//        font-size: 200%;
//    }
//    a{
//        color: $black;
//    }
//    a:hover{
//        color:$green;
//    }
//    .contact{
//        background-color:$grey5;
//    }
//    form{
//        padding: 10px 70px;
//        button{
//            align-items: center;
//        }
//    }
//    
//}
//
//.footer{
//    background-color: $black;
//    font-size: 12px;
//    color:$white;
//    padding-top: 10px;
//    .social{
//        font-size: 18px;
//        text-align: center;
//        a{
//            padding:10px;
//            color: $grey;
//        }
//    }
//
//}







